body {background-color: rgb(240, 220, 166); text-align: center;}
pre{border: 5px solid rgba(197, 73, 73, 0.664)}
h1{background-color: rgba(238, 53, 53, 0.699);}
a {background-color: rgb(228, 243, 16);}